<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/tjharo">Tanner Haro</a>, a young professional with great aspirations on learning the ins and outs of being a great developer.
  </p>
  <br />
  <p>
    Splurty is a database-driven web application that is deployed live on the Internet, this project uses a variety of programs and needs to connect to databases to store user-generated data. Splurty allows users to submit quotes that will be stored into a database (filled with other users quotes) that randomly display when tasked.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.JPG', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Tanner Haro</h2>
      <br />
      <p>
        Tanner Haro is a Graduate from Arizona State University with a BSE in Electrical Engineering. Tanner currently takes on the role of Project Engineer for <a target="_blank" href="http://www.sundt.com/">Sundt</a> at a water/wastewater treament plant. Tanner hopes to soon complete his Bachelor's degree in Astrophysics and Master's in Biomimicry. When Tanner is not spending his time doing homework or studying, he enjoy's hanging with the boys and getting outdoors
      </p>
    </div>
  </div>
  <br class="clear" />
 
</div>

<br class="clear" />
<br />
<br />
<br />
<br />